<h2 class="d-flex justify-content-center">Hashtag Comparison Tool</h2>
<hr />
<h4>Find common hashtags used on highly viewed Social Media posts!</h4>
<h5>Suggested Use:</h5>
<ol>
  <li>
    Look up a hashtag or search a social media platform to get a list of posts.
  </li>
  <li>
    Copy and paste the hashtags from the posts with a high like count and paste
    into a Hashtag group per post.
  </li>
  <li>
    Click the Submit button to display a list of common hashtags in all the
    different groups entered.
  </li>
  <li>
    Use the list of hashtags to find long tail results (hashtags with enough
    hits, not too few or too many).
  </li>
</ol>
<hr />
