.add-button {
  margin-right: 10px;
}

.bottom-button {
  width: 325px;
}

.bottom-buttons-container {
  margin-bottom: 10px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.match-text {
  cursor: pointer;
  font-size: 24px;
}

.results-container {
  margin-top: 20px;
}

.tag-groups-container {
  margin-bottom: 10px;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}
